.loginForm{
    width: 300px;
    margin: 0 auto;
}

.loginForm div{
    margin-bottom: 10px;
    color: #cca57b;
}

.loginForm h1{
    margin-bottom: 10px;
    color: #41352d;
}

.loginForm input, .loginForm button{
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80%;
    background-color: rgba(208, 196, 166, 0.69);
    padding: 3px 5px;
}

.loginForm input {
    border: 1px solid #ccc;
}

.loginForm button{
    background-color: #70604f;
    color: white;

}








