@import url(https://fonts.google.com/share?selection.family=Wittgenstein:ital,wght@0,400..900;1,400..900);

*{
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: ' Wittgenstein', sans-serif;
}
/*font-family: "Wittgenstein", serif;*/
/*font-optical-sizing: auto;*/
/*font-weight: <weight>;*/
/*font-style: normal;*/

.App {
  text-align: center;
}

input, button{
  outline: none;
  border: none;
}
