@import url(https://fonts.google.com/share?selection.family=Wittgenstein:ital,wght@0,400..900;1,400..900);

*{
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: 'Wittgenstein', serif;
}
/*font-family: "Wittgenstein", serif;*/
/*font-optical-sizing: auto;*/
/*font-weight: <weight>;*/
/*font-style: normal;*/

.App {
  text-align: center;
  height: 100vh;
  font-family: 'Wittgenstein', serif;
}

input, button{
  outline: none;
  border: none;
  font-family: 'Wittgenstein', serif;
  font-size: 15px;
}

button{
  background: none;
  cursor: pointer;
}
.avatar {
  width: 100%;
  height: 100%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1{
  font-size: 30px;
}
